/* chưa kết nối */

.picture-slime {
	text-decoration: none;
}

.container {
	background-color: black;
}

.navbar-brand {
	border-bottom: solid 1px black ;
}

.nav-link {
	border-bottom: solid 1px black ;
}
